body,html,
ul,h4
{
    margin: 0;
    padding: 0;
}
* {box-sizing: border-box;}
body { 
    font-size: 12px;
    word-wrap: break-word;
    word-break: normal;
    white-space: normal;
 }
ul li {list-style: none;}